@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h2 {
    font-family: "Roboto", sans-serif;
  }
}

footer {
  background-color: #cfd8c9;
  min-width: 100%;
}

button {
  background-color: #cfd8c9;
  font-weight: 700;
}

.section_2 {
  background-color: #cfd8c9;
}

@layer base {
  h1 {
    font-family: "salsa", cursive;
  }
}

@layer base {
  .wrapper {
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    margin: 1.5% 5% 5% 5%;
    min-width: 20rem;
    gap: 3rem;
    overflow-wrap: break-word;
  }

  .wrapper div {
    transition: 0.5s ease;
    opacity: 1;
  }
  .wrapper img {
    transition: 0.5s ease;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .wrapper img:hover {
    opacity: 1;
  }

  .wrapper article {
    position: relative;
  }

  .wrapper article:hover img {
    opacity: 0.3;
  }

  .wrapper article:hover .hm {
    opacity: 1;
  }

  .hm {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hm:hover {
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .wrapper div {
    transition: 0.5s ease;
    opacity: 1;
  }
  .wrapper img {
    transition: 0.5s ease;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .wrapper img:hover {
    opacity: 1;
  }
  .wrapper article {
    position: relative;
  }
  .wrapper article:hover img {
    opacity: 1;
  }
  .wrapper article:hover .hm {
    opacity: 1;
  }
  .hm {
    transition: 0.5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hm:hover {
    opacity: 1;
  }
}
button {
  color: black;
  border: none;
  border-radius: 20px;
  padding: 4.2%;
  min-height: 3.5rem;
  min-width: 5.5rem;
  margin-top: 3%;
  cursor: pointer;
}
button:hover {
  background-color: #4f6a38;
  color: black;
  border-radius: 20px;
  padding: 3.5%;
  min-height: 4rem;
  min-width: 5.5rem;
}

@media (max-width: 1080px) {
  .wrapper div {
    transition: 0.5s ease;
    opacity: 1;
  }
  .wrapper img {
    transition: 0.5s ease;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .wrapper img:hover {
    opacity: 1;
  }
  .wrapper article {
    position: relative;
  }
  .wrapper article:hover img {
    opacity: 1;
  }
  .wrapper article:hover .hm {
    opacity: 1;
  }
  .hm {
    transition: 0.5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hm:hover {
    opacity: 1;
  }
  .profil {
    width: 100%;
  }
}
